body {
    font-family: 'Comic Sans MS', 'Arial', sans-serif;
    background-color: #fff7e0;
    color: #5c4033;
    text-align: center;
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 2.5rem;
    color: #d4a017;
    margin-top: 20px;
    text-shadow: 2px 2px #5c4033;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.monkey-image {
    width: 100px;
    height: auto;
    margin-right: 10px;
    transform: scaleX(-1);
}

input[type="text"] {
    padding: 10px;
    border: 2px solid #d4a017;
    border-radius: 5px;
    width: 300px;
    font-size: 1rem;
    background-color: #ffe599;
    color: #5c4033;
}


button {
    background-color: #d4a017;
    border: none;
    width: 100px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f1c232;
}

#result {
    font-size: 1.5rem;
    margin: 20px auto;
    padding: 10px;
    color: #5c4033;
    background-color: #ffe599;
    border: 2px solid #d4a017;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

ul#history {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    width: 80%;
}

ul#history li {
    padding: 8px;
    margin: 5px 0;
    background-color: #fff2cc;
    border: 1px solid #d4a017;
    border-radius: 5px;
    color: #5c4033;
}

button#reset-button {
    background-color: #5c4033;
    color: white;
}

button#reset-button:hover {
    background-color: #775547;
}

.hidden {
    display: none;
}